/* ==================================================
   PROJECT OLIVE
   COUNTDOWN
   Version : 1.0
==================================================*/

#countdown{

    padding:80px 20px 40px;

    background:var(--bg-main);

}

.countdown-container{

    max-width:900px;

    margin:auto;

    text-align:center;

}

.countdown-subtitle{

    color:var(--gold);

    text-transform:uppercase;

    letter-spacing:5px;

    font-size:15px;

}

#countdown h2{

    font-family:'Cormorant Garamond',serif;

    font-size:54px;

    color:#444;

    margin:20px 0 60px;

}

.countdown-boxes{

    display:flex;

    justify-content:space-evenly;

    align-items:center;

    max-width:850px;

    margin:auto;

    padding:35px 20px;

    background:rgba(255,255,255,.25);

    border:1px solid rgba(191,150,86,.18);

    border-radius:30px;

    box-shadow:0 15px 40px rgba(0,0,0,.05);

}

.time-box{

    flex:1;

    background:transparent;

    border:none;

    border-right:1px solid rgba(191,150,86,.20);

    border-radius:0;

    height:auto;

    padding:10px 0;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    box-shadow:none;

}

.time-box span{

    font-size:46px;

    font-family:'Cormorant Garamond',serif;

    color:#444;

    line-height:1;

}

.time-box small{

    margin-top:12px;

    font-size:13px;

    color:#8b7b63;

    letter-spacing:3px;

    text-transform:uppercase;

}
.time-box:last-child{

    border-right:none;

}
.countdown-message{

    max-width:600px;

    margin:0 auto 45px;

    font-family:'Allura', cursive;

    font-size:30px;

    line-height:1.8;

    color:#8b6f47;

    text-align:center;

    font-weight:400;

}