/* ==================================================
   PROJECT OLIVE
   MESSAGE
   Version : 1.0
==================================================*/

#message{

    padding:40px 20px;

}

.message-container card {
    max-width:680px;
    margin:auto;
    text-align:center;
    background:rgba(255,255,255,.25);
}

.message-icon{
    font-size:30px;
    margin-bottom:12px;
}

.message-subtitle{
    font-size:13px;
    letter-spacing:4px;
    margin-bottom:15px;
}

.message-text{
    font-size:24px;
    line-height:1.5;
    max-width:680px;
    margin:15px auto;
}

.message-sign{
    margin-top:20px;
}

.message-date{
    margin-top:6px;
}